#patchLibrary
	height: 60px
	color: black

	#patchActions
		margin-top: 15px
		margin-left: 10px
		position: absolute
		display: inline-block
		width: 150px
		text-align: left

	#libActions
		margin-top: 15px
		display: inline-block
		position: absolute
		top: 0px
		right: 45px
		width: 200px

.share-patch-body
	text-align: center
	
	#urlField
		width: 50%
		margin: auto
		text-align: center