@import "../../variables"

#patchLibrary
	height: $patch-library-height
	color: black

	#patchActions
		margin-left: 10px
		position: absolute
		display: inline-block
		width: $patch-actions-width
		text-align: left

	#libActions
		display: inline-block
		position: absolute
		top: 0px
		right: -24px
		width: $lib-actions-width

.share-patch-body
	text-align: center
	
	#urlField
		width: 50%
		margin: auto
		text-align: center