<div id="dawContainer" class="noselect">
	<div id="upperRow" class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-1">
			<settings></settings>
		</div>
		<div class="col-xs-7">
			<patch-library></patch-library>
		</div>
	</div>
	<div id="middleRow">
		<synth></synth>
	</div>
	<div id="bottomRow" class="row">
		<div class="col-xs-2 text-center">
			<pitch-bend></pitch-bend>
			<modulation-wheel></modulation-wheel>
		</div>
		<keyboard></keyboard>
		<master-controls></master-controls>
	</div>
</div>