<div class="col-xs-9 delay master-control-bank text-center" ng-controller="DelayCtrl as delay">
	<h4>Delay</h4>
	<div class="row">
		<div class="col-xs-3 no-padding">
			<webaudio-knob src="images/0-100-knob.png"
				bind-polymer
				update-number-value
				knob-redraw
				value="{{delay.time.value}}" min="{{delay.time.range[ 0 ]}}" max="{{delay.time.range[ 1 ]}}"
				step="1"
				sprites="44" width="45" height="45"></webaudio-knob>
			<h6>Time</h6>
		</div>
		<div class="col-xs-3 no-padding">
			<webaudio-knob src="images/0-100-knob.png"
				bind-polymer
				update-number-value
				knob-redraw
				value="{{delay.feedback.value}}" min="{{delay.feedback.range[ 0 ]}}" max="{{delay.feedback.range[ 1 ]}}"
				step="1"
				sprites="44" width="45" height="45"></webaudio-knob>
			<h6>Feed</h6>
		</div>
		<div class="col-xs-3 no-padding">
			<webaudio-knob src="images/0-100-knob.png"
				bind-polymer
				update-number-value
				knob-redraw
				value="{{delay.dry.value}}" min="{{delay.dry.range[ 0 ]}}" max="{{delay.dry.range[ 1 ]}}"
				step="1"
				sprites="44" width="45" height="45"></webaudio-knob>
			<h6>Dry</h6>
		</div>
		<div class="col-xs-3 no-padding">
			<webaudio-knob src="images/0-100-knob.png"
				bind-polymer
				update-number-value
				knob-redraw
				value="{{delay.wet.value}}" min="{{delay.wet.range[ 0 ]}}" max="{{delay.wet.range[ 1 ]}}"
				step="1"
				sprites="44" width="45" height="45"></webaudio-knob>
			<h6>Wet</h6>
		</div>
	</div>
</div>