<div class="col-xs-2 delay master-control-bank text-center" ng-controller="DelayCtrl as delay">
	<h4>Delay</h4>
	<div class="row">
		<div class="col-xs-3 no-padding">
			<webaudio-slider direction="vert"
				bind-polymer
				update-number-value
				update-control-value
				value="{{delay.time.value}}" min="{{delay.time.range[ 0 ]}}" max="{{delay.time.range[ 1 ]}}" step="1"
				src="images/0-100-slider-base.png" knobsrc="images/slider-knob.png"
				height="90" width="45" ditchlength="80" knobwidth="20" knobheight="20"></webaudio-slider>
			<h6>Time</h6>
		</div>
		<div class="col-xs-3 no-padding">
			<webaudio-slider direction="vert"
				bind-polymer
				update-number-value
				update-control-value
				value="{{delay.feedback.value}}" min="{{delay.feedback.range[ 0 ]}}" max="{{delay.feedback.range[ 1 ]}}" step="1"
				src="images/0-100-slider-base.png" knobsrc="images/slider-knob.png"
				height="90" width="45" ditchlength="80" knobwidth="20" knobheight="20"></webaudio-slider>
			<h6>Feed</h6>
		</div>
		<div class="col-xs-3 no-padding">
			<webaudio-slider direction="vert"
				bind-polymer
				update-number-value
				update-control-value
				value="{{delay.dry.value}}" min="{{delay.dry.range[ 0 ]}}" max="{{delay.dry.range[ 1 ]}}" step="1"
				src="images/0-100-slider-base.png" knobsrc="images/slider-knob.png"
				height="90" width="45" ditchlength="80" knobwidth="20" knobheight="20"></webaudio-slider>
			<h6>Dry</h6>
		</div>
		<div class="col-xs-3 no-padding">
			<webaudio-slider direction="vert"
				bind-polymer
				update-number-value
				update-control-value
				value="{{delay.wet.value}}" min="{{delay.wet.range[ 0 ]}}" max="{{delay.wet.range[ 1 ]}}" step="1"
				src="images/0-100-slider-base.png" knobsrc="images/slider-knob.png"
				height="90" width="45" ditchlength="80" knobwidth="20" knobheight="20"></webaudio-slider>
			<h6>Wet</h6>
		</div>
	</div>
</div>