<div class="col-xs-1 master-volume master-column-bank master-control-bank text-center" ng-controller="MasterVolumeCtrl as masterVolume">
	<h4>Volume</h4>
	<div class="row">
		<webaudio-knob src="images/0-100-knob.png"
			bind-polymer
			master-volume-value
			update-number-value
			knob-redraw
			value="{{masterVolume.level.value}}" min="{{masterVolume.level.range[ 0 ]}}" max="{{masterVolume.level.range[ 1 ]}}" step="1" diameter="120" sprites="44" width="90" height="90"></webaudio-knob>
		<h6>Level</h6>
	</div>
</div>