<div class="col-xs-2 envelopes control-bank text-center" ng-controller="EnvelopesCtrl as envs">
	<div class="envelope row">
		<h5>Primary</h5>
		<div class="col-xs-3">	
			<webaudio-slider direction="vert" value="{{envs.primary.attack.value}}"
				min="{{envs.primary.attack.range[ 0 ]}}" max="{{envs.primary.attack.range[ 1 ]}}" step="1"
				bind-polymer
				update-control-value
				update-number-value
				src="images/0-100-slider-base.png" knobsrc="images/slider-knob.png"
				height="90" width="45" ditchlength="80" knobwidth="20" knobheight="20"></webaudio-slider>
		</div>
		<div class="col-xs-3">
			<webaudio-slider direction="vert"
				value="{{envs.primary.decay.value}}" min="{{envs.primary.decay.range[ 0 ]}}" max="{{envs.primary.decay.range[ 1 ]}}" step="1"
				bind-polymer
				update-control-value
				update-number-value
				src="images/0-100-slider-base.png" knobsrc="images/slider-knob.png"
				height="90" width="45" ditchlength="80" knobwidth="20" knobheight="20"></webaudio-slider>
		</div>
		<div class="col-xs-3">
			<webaudio-slider direction="vert"
				value="{{envs.primary.sustain.value}}" min="{{envs.primary.sustain.range[ 0 ]}}" max="{{envs.primary.sustain.range[ 1 ]}}" step="1"
				bind-polymer
				update-control-value
				update-number-value
				src="images/0-100-slider-base.png" knobsrc="images/slider-knob.png"
				height="90" width="45" ditchlength="80" knobwidth="20" knobheight="20"></webaudio-slider>
		</div>
		<div class="col-xs-3">
			<webaudio-slider direction="vert"
				value="{{envs.primary.release.value}}" min="{{envs.primary.release.range[ 0 ]}}" max="{{envs.primary.release.range[ 1 ]}}" step="1"
				bind-polymer
				update-control-value
				update-number-value
				src="images/0-100-slider-base.png" knobsrc="images/slider-knob.png"
				height="90" width="45" ditchlength="80" knobwidth="20" knobheight="20"></webaudio-slider>
		</div>
	</div>
	<div class="envelope row">
		<h5>Filter</h5>
		<div class="col-xs-3">
			<webaudio-slider direction="vert"
				value="{{envs.filter.attack.value}}" min="{{envs.filter.attack.range[ 0 ]}}" max="{{envs.filter.attack.range[ 1 ]}}" step="1"
				bind-polymer
				update-control-value
				update-number-value
				src="images/0-100-slider-base.png" knobsrc="images/slider-knob.png"
				height="90" width="45" ditchlength="80" knobwidth="20" knobheight="20"></webaudio-slider>
		</div>
		<div class="col-xs-3">
			<webaudio-slider direction="vert"
				value="{{envs.filter.decay.value}}" min="{{envs.filter.decay.range[ 0 ]}}" max="{{envs.filter.decay.range[ 1 ]}}" step="1"
				bind-polymer
				update-control-value
				update-number-value
				src="images/0-100-slider-base.png" knobsrc="images/slider-knob.png"
				height="90" width="45" ditchlength="80" knobwidth="20" knobheight="20"></webaudio-slider>
		</div>
		<div class="col-xs-3">
			<webaudio-slider direction="vert"
				value="{{envs.filter.sustain.value}}" min="{{envs.filter.sustain.range[ 0 ]}}" max="{{envs.filter.sustain.range[ 1 ]}}" step="1"
				bind-polymer
				update-control-value
				update-number-value
				src="images/0-100-slider-base.png" knobsrc="images/slider-knob.png"
				height="90" width="45" ditchlength="80" knobwidth="20" knobheight="20"></webaudio-slider>
		</div>
		<div class="col-xs-3">
			<webaudio-slider direction="vert"
				value="{{envs.filter.release.value}}" min="{{envs.filter.release.range[ 0 ]}}" max="{{envs.filter.release.range[ 1 ]}}" step="1"
				bind-polymer
				update-control-value
				update-number-value
				src="images/0-100-slider-base.png" knobsrc="images/slider-knob.png"
				height="90" width="45" ditchlength="80" knobwidth="20" knobheight="20"></webaudio-slider>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3">Attack</div>
		<div class="col-xs-3">Decay</div>
		<div class="col-xs-3">Sustain</div>
		<div class="col-xs-3">Release</div>
	</div>
	<h4>Envelopes</h4>
</div>