<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>W</key>
		<integer>-37</integer>
		<key>Y</key>
		<integer>-19</integer>
		<key>k</key>
		<integer>-10</integer>
	</dict>
	<key>A.alt2</key>
	<dict>
		<key>V.alt2</key>
		<integer>-317</integer>
		<key>W.alt2</key>
		<integer>-315</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>V</key>
		<integer>-55</integer>
		<key>Y</key>
		<integer>-37</integer>
		<key>h</key>
		<integer>-29</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>a</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-17</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>V</key>
		<integer>-35</integer>
		<key>Z</key>
		<integer>-27</integer>
		<key>i</key>
		<integer>-29</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>M</key>
		<integer>-21</integer>
		<key>O</key>
		<integer>-19</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>J</key>
		<integer>-213</integer>
		<key>T</key>
		<integer>20</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>W</key>
		<integer>-33</integer>
		<key>Y</key>
		<integer>-15</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>e</key>
		<integer>-27</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>A</key>
		<integer>-25</integer>
		<key>H</key>
		<integer>-23</integer>
		<key>a</key>
		<integer>-37</integer>
		<key>o</key>
		<integer>-35</integer>
		<key>y</key>
		<integer>-27</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>I</key>
		<integer>10</integer>
		<key>T</key>
		<integer>-150</integer>
		<key>V</key>
		<integer>-209</integer>
		<key>W</key>
		<integer>-117</integer>
		<key>Y</key>
		<integer>-163</integer>
		<key>b</key>
		<integer>11</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>c</key>
		<integer>-10</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>e</key>
		<integer>-25</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>V</key>
		<integer>-43</integer>
		<key>W</key>
		<integer>-43</integer>
		<key>X</key>
		<integer>-39</integer>
		<key>c</key>
		<integer>-16</integer>
		<key>g</key>
		<integer>-15</integer>
		<key>z</key>
		<integer>-29</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>J</key>
		<integer>-167</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>V</key>
		<integer>-31</integer>
		<key>W</key>
		<integer>-31</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>N</key>
		<integer>-29</integer>
		<key>W</key>
		<integer>-31</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>o</key>
		<integer>-63</integer>
		<key>s</key>
		<integer>-61</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>s</key>
		<integer>-23</integer>
		<key>x</key>
		<integer>-21</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-21</integer>
		<key>e</key>
		<integer>-81</integer>
		<key>o</key>
		<integer>-81</integer>
		<key>s</key>
		<integer>-70</integer>
	</dict>
	<key>V.alt</key>
	<dict>
		<key>A.alt</key>
		<integer>-315</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-43</integer>
		<key>O</key>
		<integer>-39</integer>
		<key>a</key>
		<integer>-51</integer>
		<key>e</key>
		<integer>-79</integer>
		<key>h</key>
		<integer>-13</integer>
		<key>i</key>
		<integer>-11</integer>
		<key>o</key>
		<integer>-79</integer>
		<key>u</key>
		<integer>-51</integer>
		<key>y</key>
		<integer>-41</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>B</key>
		<integer>-25</integer>
		<key>a</key>
		<integer>-37</integer>
		<key>e</key>
		<integer>-35</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>a</key>
		<integer>-43</integer>
		<key>e</key>
		<integer>-71</integer>
		<key>o</key>
		<integer>-71</integer>
		<key>p</key>
		<integer>-45</integer>
		<key>s</key>
		<integer>-69</integer>
		<key>u</key>
		<integer>-43</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>e</key>
		<integer>-19</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>b</key>
		<integer>-19</integer>
		<key>c</key>
		<integer>-25</integer>
		<key>g</key>
		<integer>-15</integer>
		<key>h</key>
		<integer>-29</integer>
		<key>k</key>
		<integer>-29</integer>
		<key>l</key>
		<integer>-27</integer>
		<key>m</key>
		<integer>-15</integer>
		<key>n</key>
		<integer>-9</integer>
		<key>r</key>
		<integer>-17</integer>
		<key>s</key>
		<integer>-23</integer>
		<key>v</key>
		<integer>-25</integer>
		<key>w</key>
		<integer>-47</integer>
		<key>x</key>
		<integer>-21</integer>
		<key>z</key>
		<integer>-29</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>j</key>
		<integer>10</integer>
		<key>o</key>
		<integer>2</integer>
		<key>w</key>
		<integer>-13</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>a</key>
		<integer>-15</integer>
		<key>b</key>
		<integer>-27</integer>
		<key>c</key>
		<integer>-33</integer>
		<key>e</key>
		<integer>-23</integer>
		<key>h</key>
		<integer>-27</integer>
		<key>k</key>
		<integer>-17</integer>
		<key>o</key>
		<integer>-23</integer>
		<key>r</key>
		<integer>-25</integer>
		<key>t</key>
		<integer>-15</integer>
		<key>u</key>
		<integer>-25</integer>
		<key>v</key>
		<integer>-15</integer>
		<key>y</key>
		<integer>-10</integer>
		<key>z</key>
		<integer>-27</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>e</key>
		<integer>-23</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-23</integer>
		<key>r</key>
		<integer>-5</integer>
		<key>u</key>
		<integer>-25</integer>
		<key>y</key>
		<integer>-15</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>c</key>
		<integer>-13</integer>
		<key>d</key>
		<integer>20</integer>
		<key>e</key>
		<integer>-23</integer>
		<key>g</key>
		<integer>-13</integer>
		<key>l</key>
		<integer>-25</integer>
		<key>o</key>
		<integer>-23</integer>
		<key>r</key>
		<integer>-25</integer>
		<key>s</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-21</integer>
		<key>w</key>
		<integer>-35</integer>
		<key>x</key>
		<integer>-19</integer>
		<key>y</key>
		<integer>-15</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>b</key>
		<integer>10</integer>
		<key>comma</key>
		<integer>-123</integer>
		<key>t</key>
		<integer>10</integer>
		<key>y</key>
		<integer>8</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>a</key>
		<integer>-25</integer>
		<key>c</key>
		<integer>-23</integer>
		<key>e</key>
		<integer>-23</integer>
		<key>f</key>
		<integer>-25</integer>
		<key>g</key>
		<integer>-13</integer>
		<key>j</key>
		<integer>180</integer>
		<key>m</key>
		<integer>-27</integer>
		<key>o</key>
		<integer>-23</integer>
		<key>r</key>
		<integer>-25</integer>
		<key>s</key>
		<integer>-21</integer>
		<key>u</key>
		<integer>-25</integer>
		<key>w</key>
		<integer>-27</integer>
		<key>y</key>
		<integer>-14</integer>
		<key>z</key>
		<integer>-27</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>a</key>
		<integer>-11</integer>
		<key>e</key>
		<integer>-4</integer>
		<key>u</key>
		<integer>-11</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>e</key>
		<integer>-24</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>i</key>
		<integer>11</integer>
		<key>u</key>
		<integer>10</integer>
		<key>v</key>
		<integer>-30</integer>
		<key>w</key>
		<integer>-102</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>a</key>
		<integer>-40</integer>
		<key>b</key>
		<integer>-43</integer>
		<key>e</key>
		<integer>-39</integer>
		<key>g</key>
		<integer>-29</integer>
		<key>k</key>
		<integer>-43</integer>
		<key>m</key>
		<integer>-43</integer>
		<key>n</key>
		<integer>-43</integer>
		<key>p</key>
		<integer>-43</integer>
		<key>w</key>
		<integer>-51</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>b</key>
		<integer>-29</integer>
		<key>c</key>
		<integer>-25</integer>
		<key>e</key>
		<integer>-25</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-5</integer>
		<key>p</key>
		<integer>-29</integer>
		<key>s</key>
		<integer>-23</integer>
		<key>x</key>
		<integer>-21</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>a</key>
		<integer>-25</integer>
		<key>b</key>
		<integer>-27</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>l</key>
		<integer>-25</integer>
		<key>n</key>
		<integer>-27</integer>
		<key>o</key>
		<integer>-23</integer>
		<key>r</key>
		<integer>-15</integer>
		<key>s</key>
		<integer>-21</integer>
		<key>t</key>
		<integer>-25</integer>
		<key>u</key>
		<integer>-25</integer>
		<key>v</key>
		<integer>-41</integer>
		<key>w</key>
		<integer>-35</integer>
		<key>x</key>
		<integer>-29</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>j</key>
		<integer>181</integer>
		<key>u</key>
		<integer>-25</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<integer>25</integer>
		<key>comma</key>
		<integer>-185</integer>
		<key>k</key>
		<integer>10</integer>
		<key>u</key>
		<integer>10</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>c</key>
		<integer>-21</integer>
		<key>e</key>
		<integer>-11</integer>
		<key>g</key>
		<integer>-11</integer>
		<key>k</key>
		<integer>-25</integer>
		<key>n</key>
		<integer>-25</integer>
		<key>o</key>
		<integer>-21</integer>
		<key>u</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-19</integer>
		<key>w</key>
		<integer>-33</integer>
		<key>x</key>
		<integer>-27</integer>
		<key>z</key>
		<integer>-25</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>w</key>
		<integer>8</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>b</key>
		<integer>-15</integer>
		<key>c</key>
		<integer>-23</integer>
		<key>e</key>
		<integer>-23</integer>
		<key>f</key>
		<integer>-23</integer>
		<key>g</key>
		<integer>-13</integer>
		<key>k</key>
		<integer>-25</integer>
		<key>m</key>
		<integer>-25</integer>
		<key>o</key>
		<integer>-23</integer>
		<key>p</key>
		<integer>-25</integer>
		<key>quoteright</key>
		<integer>-25</integer>
		<key>s</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-23</integer>
		<key>x</key>
		<integer>-17</integer>
		<key>z</key>
		<integer>-25</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>e</key>
		<integer>-11</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>s</key>
		<integer>-31</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>a</key>
		<integer>-17</integer>
		<key>c</key>
		<integer>-45</integer>
		<key>e</key>
		<integer>-45</integer>
		<key>g</key>
		<integer>-27</integer>
		<key>h</key>
		<integer>-19</integer>
		<key>i</key>
		<integer>-17</integer>
		<key>k</key>
		<integer>-10</integer>
		<key>l</key>
		<integer>-27</integer>
		<key>n</key>
		<integer>-19</integer>
		<key>o</key>
		<integer>-45</integer>
		<key>r</key>
		<integer>-47</integer>
		<key>s</key>
		<integer>-43</integer>
		<key>t</key>
		<integer>-17</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>e</key>
		<integer>-29</integer>
		<key>m</key>
		<integer>-10</integer>
		<key>u</key>
		<integer>-21</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>a</key>
		<integer>-25</integer>
		<key>c</key>
		<integer>-25</integer>
		<key>e</key>
		<integer>-25</integer>
		<key>j</key>
		<integer>166</integer>
		<key>k</key>
		<integer>-27</integer>
		<key>l</key>
		<integer>-15</integer>
		<key>n</key>
		<integer>-5</integer>
		<key>o</key>
		<integer>-25</integer>
		<key>p</key>
		<integer>-17</integer>
		<key>r</key>
		<integer>-15</integer>
		<key>s</key>
		<integer>-23</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>a</key>
		<integer>-27</integer>
		<key>e</key>
		<integer>-25</integer>
		<key>h</key>
		<integer>-29</integer>
		<key>l</key>
		<integer>-27</integer>
		<key>t</key>
		<integer>-27</integer>
		<key>z</key>
		<integer>-29</integer>
	</dict>
</dict>
</plist>
