/* Grid */
.container {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
	.container {
		width: 100%;
	}
}
@media (min-width: 992px) {
	.container {
		width: 100%;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 100%;
	}
}

/* Buttons */
.viktor.btn
	color: #CDCDCD
	background-color: #345776
	border-color: #63717E
	&:hover,
	&:focus
		color: #DBDBDB
		background-color: #3F6A91
		outline: none