.container {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
	.container {
		width: 100%;
	}
}
@media (min-width: 992px) {
	.container {
		width: 100%;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 100%;
	}
}