@import "variables"
@import "fonts"
@import "bootstrap-override"
@import "daw/*"
@import "social"
@import "footer"
@import "viktor-round-button"

html,
body,
h1, h2, h3, h4, h5, h6
	font-weight: $font-weight

/* Safari renders text lighter */
{$safari-only}
	html,
	body,
	h1, h2, h3, h4, h5, h6
		font-weight: $font-weight-safari

html,
body
	background-color: $background-color

.inline-block
	display: inline-block

.no-padding
	padding: 0

.noselect
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

.centered
	position: fixed
	top: 50%
	left: 50%
	/* bring your own prefixes */
	transform: translate(-50%, -50%)

.move-pixel-up
	top: -1px

.horizontal-divider
	color: $panel-text-grey