/* Browser-specific selectors */

$safari-only = '_::-webkit-full-page-media, _:future, :root'

/* Sizes */

$panel-width = 1200px
$panel-height = 600px

/* Colors */

$background-color = #27363C
$control-bank-border-color = #8E8E8E
$panel-grey = #2a2a2a
$panel-text-grey = #868686
$panel-header-grey = #ABABAB
$footer-color = #565656
$footer-selection = #EEE

/* Font */

$font-weight = 100
$font-weight-safari = 200