/* Browser-specific selectors */

$safari-only = '_::-webkit-full-page-media, _:future, :root'

/* Sizes */

$panel-width = 1200px
$panel-height = 600px

/* Colors */

$background-dark-color = #2b2b2b
$text-dark-background = #929292
$background-color = #27363C
$control-bank-border-color = #8E8E8E
$border-on-dark-background = #616161
$panel-grey = #2a2a2a
$panel-text-grey = #868686
$panel-header-grey = #ABABAB
$footer-color = #565656
$footer-selection = #EEE

$highlight-on-dark-background = #414141
$text-on-highlight-on-dark-background = #c5c2c2

$green-on-dark = rgb(0, 112, 0)

/* Font */

$font-weight = 100
$font-weight-safari = 200