<div id="patchLibrary" ng-controller="PatchLibraryCtrl as library">
	<div class="row text-center">
		<drop-down></drop-down>
		<a class="lib-button patch-button glyphicon glyphicon-floppy-disk"
			ng-show="library.isSavePatchVisible()"
			ng-click="library.openSavePatchModal()"></a>
		<a class="lib-button patch-button glyphicon glyphicon-remove-circle"
			ng-show="library.isDeletePatchVisible()"
			ng-click="library.openDeletePatchModal()"></a>
		<div id="libActions">
			<a class="lib-button glyphicon glyphicon-import" ngf-select ngf-change="library.import($files)" tooltip="Import library"></a>
			<a class="lib-button glyphicon glyphicon-export" ng-show="library.isExportVisible()" ng-click="library.export()" tooltip="Export library"></a>
			<a class="lib-button glyphicon glyphicon-trash" ng-show="library.isExportVisible()" ng-click="library.clear()" tooltip="Reset to Defaults"></a>
		</div>
	</div>

	<script type="text/ng-template" id="savePatchModal.html">
		<div class="modal-header">
			<button type="button" class="close" ng-click="savePatchModal.close()"><span>&times;</span></button>
			<h4 class="modal-title">Save Custom Patch</h4>
		</div>
		<div class="modal-body">
			<form>
				<div class="form-group">
					<label for="patchName" class="control-label">Patch Name:</label>
					<input type="text" class="form-control" id="patchName"
						ng-model="savePatchModal.name"
						autofocus>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary"
				ng-click="savePatchModal.savePatch()">Save</button>
		</div>
	</script>

	<script type="text/ng-template" id="deletePatchModal.html">
		<div class="modal-header">
			<button type="button" class="close" ng-click="deletePatchModal.close()"><span>&times;</span></button>
			<h4 class="modal-title">Are you sure?</h4>
		</div>
		<div class="modal-body">
			<h5 class="modal-title">Are you sure you want to delete this patch?</h5>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary"
				ng-click="deletePatchModal.deletePatch()">Yes</button>
			<button type="button" class="btn btn-primary"
				ng-click="deletePatchModal.close()">Cancel</button>
		</div>
	</script>
</div>