<div class="col-lg-3 envelopes control-bank text-center" ng-controller="EnvelopesCtrl as envs">
	<div class="envelope row">
		<h5>Primary</h5>
		<div class="col-lg-3">
			<webaudio-knob src="images/0-100-knob.png"
				bind-polymer
				value="{{envs.primary.attack.value}}" min="{{envs.primary.attack.range[ 0 ]}}" max="{{envs.primary.attack.range[ 1 ]}}" step="1" diameter="240" sprites="44" width="60" height="60" tooltip="Primary attack"></webaudio-knob>
		</div>
		<div class="col-lg-3">
			<webaudio-knob src="images/0-100-knob.png"
				bind-polymer
				value="{{envs.primary.decay.value}}" min="{{envs.primary.decay.range[ 0 ]}}" max="{{envs.primary.decay.range[ 1 ]}}" step="1" diameter="240" sprites="44" width="60" height="60" tooltip="Primary decay"></webaudio-knob>
		</div>
		<div class="col-lg-3">
			<webaudio-knob src="images/0-100-knob.png"
				bind-polymer
				value="{{envs.primary.sustain.value}}" min="{{envs.primary.sustain.range[ 0 ]}}" max="{{envs.primary.sustain.range[ 1 ]}}" step="1" diameter="240" sprites="44" width="60" height="60" tooltip="Primary sustain"></webaudio-knob>
		</div>
		<div class="col-lg-3">
			<webaudio-knob src="images/0-100-knob.png"
				bind-polymer
				value="{{envs.primary.release.value}}" min="{{envs.primary.release.range[ 0 ]}}" max="{{envs.primary.release.range[ 1 ]}}" step="1" diameter="240" sprites="44" width="60" height="60" tooltip="Primary release"></webaudio-knob>
		</div>
	</div>
	<div class="envelope row">
		<h5>Filter</h5>
		<div class="col-lg-3">
			<webaudio-knob src="images/0-100-knob.png"
				bind-polymer
				value="{{envs.filter.attack.value}}" min="{{envs.filter.attack.range[ 0 ]}}" max="{{envs.filter.attack.range[ 1 ]}}" step="1" diameter="240" sprites="44" width="60" height="60" tooltip="Filter attack"></webaudio-knob>
		</div>
		<div class="col-lg-3">
			<webaudio-knob src="images/0-100-knob.png"
				bind-polymer
				value="{{envs.filter.decay.value}}" min="{{envs.filter.decay.range[ 0 ]}}" max="{{envs.filter.decay.range[ 1 ]}}" step="1" diameter="240" sprites="44" width="60" height="60" tooltip="Filter decay"></webaudio-knob>
		</div>
		<div class="col-lg-3">
			<webaudio-knob src="images/0-100-knob.png"
				bind-polymer
				value="{{envs.filter.sustain.value}}" min="{{envs.filter.sustain.range[ 0 ]}}" max="{{envs.filter.sustain.range[ 1 ]}}" step="1" diameter="240" sprites="44" width="60" height="60" tooltip="Filter sustain"></webaudio-knob>
		</div>
		<div class="col-lg-3">
			<webaudio-knob src="images/0-100-knob.png"
				bind-polymer
				value="{{envs.filter.release.value}}" min="{{envs.filter.release.range[ 0 ]}}" max="{{envs.filter.release.range[ 1 ]}}" step="1" diameter="240" sprites="44" width="60" height="60" tooltip="Filter release"></webaudio-knob>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3">Attack</div>
		<div class="col-lg-3">Decay</div>
		<div class="col-lg-3">Sustain</div>
		<div class="col-lg-3">Release</div>
	</div>
	<h4>Envelopes</h4>
</div>