<div class="col-lg-2 mixer control-bank text-center" ng-controller="MixerCtrl as mixer">
	<div class="row">
		<div class="oscillator-switch col-lg-6">
			<div class="row">
				<webaudio-switch bind-polymer value="{{mixer.volume1.enabled.value}}"></webaudio-switch>
			</div>
			<div class="row">
				<webaudio-switch bind-polymer value="{{mixer.volume2.enabled.value}}"></webaudio-switch>
			</div>
			<div class="row">
				<webaudio-switch bind-polymer value="{{mixer.volume3.enabled.value}}"></webaudio-switch>
			</div>
		</div>
		<div class="oscillator-volume col-lg-6">
			<div class="row">
				<webaudio-knob src="images/frequency-knob.png"
					bind-polymer
					value="{{mixer.volume1.level.value}}" min="{{mixer.volume1.level.range[ 0 ]}}" max="{{mixer.volume1.level.range[ 1 ]}}" step="1" diameter="66" sprites="44" width="40" height="40" tooltip="Oscillator 1 volume"></webaudio-knob>
			</div>
			<div class="row">
				<webaudio-knob src="images/frequency-knob.png"
					bind-polymer
					value="{{mixer.volume2.level.value}}" min="{{mixer.volume2.level.range[ 0 ]}}" max="{{mixer.volume2.level.range[ 1 ]}}" step="1" diameter="66" sprites="44" width="40" height="40" tooltip="Oscillator 1 volume"></webaudio-knob>
			</div>
			<div class="row">
				<webaudio-knob src="images/frequency-knob.png"
					bind-polymer
					value="{{mixer.volume3.level.value}}" min="{{mixer.volume3.level.range[ 0 ]}}" max="{{mixer.volume3.level.range[ 1 ]}}" step="1" diameter="66" sprites="44" width="40" height="40" tooltip="Oscillator 1 volume"></webaudio-knob>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">On/Off</div>
		<div class="col-lg-6">Volume</div>
	</div>
	<h4>Mixer</h4>
</div>