<div class="col-xs-1 col-xs-offset-1 modulation no-padding control-bank two-row single-column text-center" ng-controller="ModulationCtrl as modulation">
	<div class="row">
		<h5>Form</h5>
		<webaudio-knob src="images/range-knob.png"
			bind-polymer
			update-number-value
			value="{{modulation.waveform.value}}" min="{{modulation.waveform.range[ 0 ]}}" max="{{modulation.waveform.range[ 1 ]}}" step="1" diameter="240" sprites="5" width="60" height="60"></webaudio-knob>
	</div>
	<div class="row">
		<h5>Glide</h5>
		<webaudio-knob src="images/0-100-knob.png"
			bind-polymer
			update-number-value
			value="{{modulation.portamento.value}}" min="{{modulation.portamento.range[ 0 ]}}" max="{{modulation.portamento.range[ 1 ]}}" step="1" diameter="240" sprites="44" width="60" height="60"></webaudio-knob>
	</div>
	<h4>Modulation</h4>
</div>