<div class="col-lg-1 noise control-bank tri-row single-column text-center" ng-controller="NoiseCtrl as noise">
	<div class="row">
		<webaudio-switch bind-polymer value="{{noise.enabled.value}}"></webaudio-switch>
	</div>
	<div class="row">
		<webaudio-knob src="images/0-100-knob.png"
			bind-polymer
			value="{{noise.level.value}}" min="{{noise.level.range[ 0 ]}}" max="{{noise.level.range[ 1 ]}}" step="1" diameter="240" sprites="44" width="60" height="60" tooltip="Noise volume"></webaudio-knob>
	</div>
	<div class="row">
		<webaudio-slider direction="horz" value="{{noise.type.value}}" min="{{noise.type.range[ 0 ]}}" max="{{noise.type.range[ 1 ]}}" step="1"
			bind-polymer
			width="66" height="16"></webaudio-slider>
	</div>
	<h4>Noise</h4>
</div>