<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>W</key>
		<integer>-5</integer>
		<key>Y</key>
		<integer>-10</integer>
	</dict>
	<key>A.alt2</key>
	<dict>
		<key>V.alt2</key>
		<integer>-389</integer>
		<key>W.alt2</key>
		<integer>-403</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>V</key>
		<integer>-50</integer>
		<key>Y</key>
		<integer>-35</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>Y</key>
		<integer>4</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>V</key>
		<integer>-16</integer>
		<key>Z</key>
		<integer>-2</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>M</key>
		<integer>-3</integer>
		<key>O</key>
		<integer>-3</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>G</key>
		<integer>10</integer>
		<key>J</key>
		<integer>-90</integer>
		<key>T</key>
		<integer>40</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>W</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-4</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>A</key>
		<integer>-5</integer>
		<key>H</key>
		<integer>-20</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>E</key>
		<integer>10</integer>
		<key>M</key>
		<integer>4</integer>
		<key>V</key>
		<integer>-152</integer>
		<key>W</key>
		<integer>-150</integer>
		<key>Y</key>
		<integer>-130</integer>
		<key>Z</key>
		<integer>10</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>c</key>
		<integer>-10</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>V</key>
		<integer>-37</integer>
		<key>W</key>
		<integer>-40</integer>
		<key>X</key>
		<integer>-9</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>J</key>
		<integer>-80</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>V</key>
		<integer>-30</integer>
		<key>W</key>
		<integer>-4</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>N</key>
		<integer>4</integer>
		<key>W</key>
		<integer>-10</integer>
		<key>q</key>
		<integer>10</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>H</key>
		<integer>10</integer>
		<key>T</key>
		<integer>6</integer>
		<key>Y</key>
		<integer>7</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-30</integer>
		<key>u</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-10</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>O</key>
		<integer>-12</integer>
		<key>s</key>
		<integer>-20</integer>
	</dict>
	<key>V.alt</key>
	<dict>
		<key>A.alt</key>
		<integer>-431</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-10</integer>
		<key>O</key>
		<integer>-4</integer>
		<key>a</key>
		<integer>-50</integer>
		<key>e</key>
		<integer>-70</integer>
		<key>i</key>
		<integer>-5</integer>
		<key>o</key>
		<integer>-65</integer>
		<key>u</key>
		<integer>-55</integer>
	</dict>
	<key>W.alt</key>
	<dict>
		<key>A.alt</key>
		<integer>-430</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>B</key>
		<integer>-2</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>S</key>
		<integer>-10</integer>
		<key>a</key>
		<integer>-30</integer>
		<key>e</key>
		<integer>-40</integer>
		<key>i</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-50</integer>
		<key>p</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-50</integer>
		<key>u</key>
		<integer>-20</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>Y</key>
		<integer>-3</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>b</key>
		<integer>-18</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>j</key>
		<integer>-5</integer>
		<key>l</key>
		<integer>-20</integer>
		<key>m</key>
		<integer>-27</integer>
		<key>n</key>
		<integer>-20</integer>
		<key>r</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-24</integer>
		<key>v</key>
		<integer>-40</integer>
		<key>w</key>
		<integer>-40</integer>
		<key>x</key>
		<integer>-5</integer>
		<key>z</key>
		<integer>-8</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>d</key>
		<integer>20</integer>
		<key>o</key>
		<integer>-5</integer>
		<key>v</key>
		<integer>-23</integer>
		<key>w</key>
		<integer>-15</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>e</key>
		<integer>-15</integer>
		<key>h</key>
		<integer>-15</integer>
		<key>k</key>
		<integer>-15</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>u</key>
		<integer>-16</integer>
		<key>v</key>
		<integer>-15</integer>
		<key>z</key>
		<integer>-20</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>e</key>
		<integer>-15</integer>
		<key>o</key>
		<integer>-24</integer>
		<key>u</key>
		<integer>-24</integer>
		<key>v</key>
		<integer>-5</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>c</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-3</integer>
		<key>l</key>
		<integer>-5</integer>
		<key>r</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-47</integer>
		<key>w</key>
		<integer>-40</integer>
		<key>x</key>
		<integer>-15</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>b</key>
		<integer>14</integer>
		<key>comma</key>
		<integer>-69</integer>
		<key>g</key>
		<integer>3</integer>
		<key>i</key>
		<integer>5</integer>
		<key>r</key>
		<integer>3</integer>
		<key>y</key>
		<integer>8</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>a</key>
		<integer>-5</integer>
		<key>c</key>
		<integer>-16</integer>
		<key>e</key>
		<integer>-8</integer>
		<key>j</key>
		<integer>180</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>r</key>
		<integer>-16</integer>
		<key>s</key>
		<integer>-16</integer>
		<key>u</key>
		<integer>-16</integer>
		<key>w</key>
		<integer>-55</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>a</key>
		<integer>2</integer>
		<key>f</key>
		<integer>1</integer>
		<key>n</key>
		<integer>-15</integer>
		<key>p</key>
		<integer>-16</integer>
		<key>q</key>
		<integer>20</integer>
		<key>x</key>
		<integer>2</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>e</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>172</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>e</key>
		<integer>-25</integer>
		<key>l</key>
		<integer>1</integer>
		<key>v</key>
		<integer>2</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>d</key>
		<integer>5</integer>
		<key>i</key>
		<integer>10</integer>
		<key>quoteright</key>
		<integer>-10</integer>
		<key>u</key>
		<integer>14</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-102</integer>
		<key>y</key>
		<integer>-15</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>a</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-5</integer>
		<key>g</key>
		<integer>-15</integer>
		<key>k</key>
		<integer>-23</integer>
		<key>m</key>
		<integer>-31</integer>
		<key>p</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-5</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>b</key>
		<integer>-8</integer>
		<key>c</key>
		<integer>-16</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-32</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>a</key>
		<integer>-16</integer>
		<key>j</key>
		<integer>-5</integer>
		<key>l</key>
		<integer>-20</integer>
		<key>n</key>
		<integer>-15</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>r</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-25</integer>
		<key>t</key>
		<integer>-25</integer>
		<key>u</key>
		<integer>-15</integer>
		<key>v</key>
		<integer>-35</integer>
		<key>w</key>
		<integer>-60</integer>
		<key>x</key>
		<integer>-39</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>l</key>
		<integer>5</integer>
		<key>r</key>
		<integer>10</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>j</key>
		<integer>181</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<integer>5</integer>
		<key>comma</key>
		<integer>-69</integer>
		<key>d</key>
		<integer>30</integer>
		<key>period</key>
		<integer>-20</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>c</key>
		<integer>-2</integer>
		<key>e</key>
		<integer>-5</integer>
		<key>g</key>
		<integer>-15</integer>
		<key>k</key>
		<integer>-23</integer>
		<key>n</key>
		<integer>-23</integer>
		<key>u</key>
		<integer>-15</integer>
		<key>v</key>
		<integer>-50</integer>
		<key>x</key>
		<integer>-47</integer>
		<key>z</key>
		<integer>-32</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>a</key>
		<integer>39</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>d</key>
		<integer>15</integer>
		<key>h</key>
		<integer>5</integer>
		<key>period</key>
		<integer>10</integer>
		<key>w</key>
		<integer>8</integer>
		<key>y</key>
		<integer>15</integer>
		<key>z</key>
		<integer>10</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>b</key>
		<integer>-5</integer>
		<key>c</key>
		<integer>-24</integer>
		<key>e</key>
		<integer>-25</integer>
		<key>f</key>
		<integer>-23</integer>
		<key>m</key>
		<integer>-20</integer>
		<key>p</key>
		<integer>-7</integer>
		<key>s</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-15</integer>
		<key>z</key>
		<integer>-15</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>e</key>
		<integer>-63</integer>
		<key>i</key>
		<integer>-8</integer>
		<key>o</key>
		<integer>-35</integer>
		<key>s</key>
		<integer>-31</integer>
		<key>t</key>
		<integer>5</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>a</key>
		<integer>-25</integer>
		<key>e</key>
		<integer>-40</integer>
		<key>g</key>
		<integer>-24</integer>
		<key>n</key>
		<integer>-25</integer>
		<key>o</key>
		<integer>-35</integer>
		<key>r</key>
		<integer>-32</integer>
		<key>s</key>
		<integer>-25</integer>
		<key>y</key>
		<integer>-8</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>e</key>
		<integer>-5</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>a</key>
		<integer>-5</integer>
		<key>c</key>
		<integer>-8</integer>
		<key>e</key>
		<integer>-15</integer>
		<key>j</key>
		<integer>166</integer>
		<key>n</key>
		<integer>-24</integer>
		<key>o</key>
		<integer>-15</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>a</key>
		<integer>-25</integer>
		<key>e</key>
		<integer>-20</integer>
		<key>l</key>
		<integer>-8</integer>
		<key>t</key>
		<integer>-16</integer>
		<key>z</key>
		<integer>-23</integer>
	</dict>
</dict>
</plist>
