<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>W</key>
		<integer>-39</integer>
		<key>Y</key>
		<integer>-21</integer>
	</dict>
	<key>A.alt2</key>
	<dict>
		<key>V.alt2</key>
		<integer>-297</integer>
		<key>W.alt2</key>
		<integer>-291</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>V</key>
		<integer>-59</integer>
		<key>Y</key>
		<integer>-41</integer>
		<key>h</key>
		<integer>-10</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>e</key>
		<integer>-10</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>M</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-37</integer>
		<key>W</key>
		<integer>-30</integer>
		<key>Z</key>
		<integer>-27</integer>
		<key>i</key>
		<integer>-10</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>M</key>
		<integer>-19</integer>
		<key>O</key>
		<integer>-17</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>J</key>
		<integer>-190</integer>
		<key>T</key>
		<integer>10</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>W</key>
		<integer>-35</integer>
		<key>Y</key>
		<integer>-17</integer>
		<key>d</key>
		<integer>10</integer>
	</dict>
	<key>I</key>
	<dict>
		<key>J</key>
		<integer>30</integer>
		<key>K</key>
		<integer>10</integer>
		<key>T</key>
		<integer>20</integer>
		<key>a</key>
		<integer>20</integer>
		<key>b</key>
		<integer>10</integer>
		<key>n</key>
		<integer>20</integer>
		<key>o</key>
		<integer>10</integer>
		<key>p</key>
		<integer>20</integer>
		<key>q</key>
		<integer>20</integer>
		<key>r</key>
		<integer>10</integer>
		<key>s</key>
		<integer>10</integer>
		<key>v</key>
		<integer>44</integer>
		<key>w</key>
		<integer>10</integer>
		<key>x</key>
		<integer>20</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>e</key>
		<integer>-10</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>A</key>
		<integer>-23</integer>
		<key>H</key>
		<integer>-21</integer>
		<key>a</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>V</key>
		<integer>-201</integer>
		<key>W</key>
		<integer>-111</integer>
		<key>Y</key>
		<integer>-165</integer>
		<key>l</key>
		<integer>10</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>a</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-20</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>e</key>
		<integer>-10</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>V</key>
		<integer>-35</integer>
		<key>W</key>
		<integer>-35</integer>
		<key>X</key>
		<integer>-31</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>z</key>
		<integer>-20</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>J</key>
		<integer>-29</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>V</key>
		<integer>-33</integer>
		<key>W</key>
		<integer>-33</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>N</key>
		<integer>-29</integer>
		<key>W</key>
		<integer>-33</integer>
		<key>w</key>
		<integer>-30</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>o</key>
		<integer>-23</integer>
		<key>s</key>
		<integer>-21</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>s</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-11</integer>
		<key>e</key>
		<integer>-50</integer>
		<key>i</key>
		<integer>10</integer>
		<key>o</key>
		<integer>-50</integer>
		<key>s</key>
		<integer>-56</integer>
	</dict>
	<key>V.alt</key>
	<dict>
		<key>A.alt</key>
		<integer>-291</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-49</integer>
		<key>O</key>
		<integer>-45</integer>
		<key>a</key>
		<integer>-60</integer>
		<key>e</key>
		<integer>-80</integer>
		<key>h</key>
		<integer>-30</integer>
		<key>i</key>
		<integer>-40</integer>
		<key>o</key>
		<integer>-65</integer>
		<key>u</key>
		<integer>-60</integer>
		<key>y</key>
		<integer>-21</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>B</key>
		<integer>-25</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-20</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>a</key>
		<integer>-17</integer>
		<key>e</key>
		<integer>-51</integer>
		<key>o</key>
		<integer>-51</integer>
		<key>p</key>
		<integer>-19</integer>
		<key>s</key>
		<integer>-47</integer>
		<key>u</key>
		<integer>-17</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>e</key>
		<integer>-30</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>b</key>
		<integer>-29</integer>
		<key>c</key>
		<integer>-35</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>h</key>
		<integer>-10</integer>
		<key>k</key>
		<integer>-10</integer>
		<key>l</key>
		<integer>-27</integer>
		<key>m</key>
		<integer>-29</integer>
		<key>n</key>
		<integer>-9</integer>
		<key>r</key>
		<integer>-27</integer>
		<key>s</key>
		<integer>-23</integer>
		<key>v</key>
		<integer>-39</integer>
		<key>w</key>
		<integer>-43</integer>
		<key>x</key>
		<integer>-21</integer>
		<key>z</key>
		<integer>-29</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>a</key>
		<integer>-10</integer>
		<key>quoteright</key>
		<integer>10</integer>
		<key>u</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-11</integer>
		<key>w</key>
		<integer>-23</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>I</key>
		<integer>-20</integer>
		<key>a</key>
		<integer>-10</integer>
		<key>b</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-25</integer>
		<key>h</key>
		<integer>-29</integer>
		<key>k</key>
		<integer>-29</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>r</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-27</integer>
		<key>u</key>
		<integer>-27</integer>
		<key>z</key>
		<integer>-29</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>e</key>
		<integer>-23</integer>
		<key>o</key>
		<integer>-23</integer>
		<key>r</key>
		<integer>-10</integer>
		<key>u</key>
		<integer>-25</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-20</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>c</key>
		<integer>-25</integer>
		<key>e</key>
		<integer>-25</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>h</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>10</integer>
		<key>l</key>
		<integer>-26</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>r</key>
		<integer>-7</integer>
		<key>s</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-57</integer>
		<key>w</key>
		<integer>-41</integer>
		<key>x</key>
		<integer>-21</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>a</key>
		<integer>10</integer>
		<key>comma</key>
		<integer>-99</integer>
		<key>d</key>
		<integer>10</integer>
		<key>h</key>
		<integer>10</integer>
		<key>j</key>
		<integer>20</integer>
		<key>l</key>
		<integer>20</integer>
		<key>n</key>
		<integer>20</integer>
		<key>o</key>
		<integer>10</integer>
		<key>t</key>
		<integer>30</integer>
		<key>u</key>
		<integer>10</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>a</key>
		<integer>-25</integer>
		<key>c</key>
		<integer>-23</integer>
		<key>e</key>
		<integer>-23</integer>
		<key>f</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>m</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-23</integer>
		<key>r</key>
		<integer>-25</integer>
		<key>s</key>
		<integer>-21</integer>
		<key>u</key>
		<integer>-25</integer>
		<key>w</key>
		<integer>-41</integer>
		<key>y</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>e</key>
		<integer>-1</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>a</key>
		<integer>1</integer>
		<key>c</key>
		<integer>10</integer>
		<key>d</key>
		<integer>20</integer>
		<key>e</key>
		<integer>10</integer>
		<key>f</key>
		<integer>20</integer>
		<key>g</key>
		<integer>10</integer>
		<key>h</key>
		<integer>20</integer>
		<key>k</key>
		<integer>10</integer>
		<key>l</key>
		<integer>30</integer>
		<key>n</key>
		<integer>40</integer>
		<key>p</key>
		<integer>20</integer>
		<key>q</key>
		<integer>50</integer>
		<key>r</key>
		<integer>30</integer>
		<key>s</key>
		<integer>40</integer>
		<key>t</key>
		<integer>20</integer>
		<key>v</key>
		<integer>10</integer>
		<key>w</key>
		<integer>20</integer>
		<key>x</key>
		<integer>20</integer>
		<key>z</key>
		<integer>10</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>a</key>
		<integer>10</integer>
		<key>j</key>
		<integer>40</integer>
		<key>u</key>
		<integer>10</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>i</key>
		<integer>10</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>a</key>
		<integer>11</integer>
		<key>b</key>
		<integer>3</integer>
		<key>d</key>
		<integer>30</integer>
		<key>e</key>
		<integer>10</integer>
		<key>f</key>
		<integer>10</integer>
		<key>i</key>
		<integer>30</integer>
		<key>l</key>
		<integer>10</integer>
		<key>n</key>
		<integer>10</integer>
		<key>o</key>
		<integer>10</integer>
		<key>u</key>
		<integer>11</integer>
		<key>y</key>
		<integer>20</integer>
		<key>z</key>
		<integer>10</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>a</key>
		<integer>-31</integer>
		<key>b</key>
		<integer>-30</integer>
		<key>c</key>
		<integer>-40</integer>
		<key>e</key>
		<integer>-40</integer>
		<key>g</key>
		<integer>-43</integer>
		<key>k</key>
		<integer>-57</integer>
		<key>m</key>
		<integer>-57</integer>
		<key>n</key>
		<integer>-10</integer>
		<key>p</key>
		<integer>-57</integer>
		<key>w</key>
		<integer>-69</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>b</key>
		<integer>-29</integer>
		<key>c</key>
		<integer>-25</integer>
		<key>e</key>
		<integer>-30</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-25</integer>
		<key>p</key>
		<integer>-29</integer>
		<key>s</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-21</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>a</key>
		<integer>-27</integer>
		<key>b</key>
		<integer>-10</integer>
		<key>l</key>
		<integer>-27</integer>
		<key>n</key>
		<integer>-29</integer>
		<key>o</key>
		<integer>-25</integer>
		<key>r</key>
		<integer>-27</integer>
		<key>s</key>
		<integer>-23</integer>
		<key>t</key>
		<integer>-17</integer>
		<key>u</key>
		<integer>-27</integer>
		<key>v</key>
		<integer>-27</integer>
		<key>w</key>
		<integer>-71</integer>
		<key>x</key>
		<integer>-27</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>j</key>
		<integer>10</integer>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>T</key>
		<integer>10</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>u</key>
		<integer>-17</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>l</key>
		<integer>20</integer>
		<key>t</key>
		<integer>20</integer>
		<key>v</key>
		<integer>40</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<integer>20</integer>
		<key>b</key>
		<integer>10</integer>
		<key>comma</key>
		<integer>-157</integer>
		<key>d</key>
		<integer>31</integer>
		<key>e</key>
		<integer>10</integer>
		<key>f</key>
		<integer>20</integer>
		<key>g</key>
		<integer>10</integer>
		<key>h</key>
		<integer>10</integer>
		<key>i</key>
		<integer>20</integer>
		<key>l</key>
		<integer>10</integer>
		<key>n</key>
		<integer>20</integer>
		<key>o</key>
		<integer>5</integer>
		<key>s</key>
		<integer>20</integer>
		<key>u</key>
		<integer>20</integer>
		<key>v</key>
		<integer>10</integer>
		<key>z</key>
		<integer>10</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>c</key>
		<integer>-21</integer>
		<key>e</key>
		<integer>-21</integer>
		<key>g</key>
		<integer>-11</integer>
		<key>k</key>
		<integer>-25</integer>
		<key>n</key>
		<integer>-25</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>u</key>
		<integer>-33</integer>
		<key>v</key>
		<integer>-43</integer>
		<key>w</key>
		<integer>-30</integer>
		<key>x</key>
		<integer>-23</integer>
		<key>z</key>
		<integer>-25</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>a</key>
		<integer>30</integer>
		<key>b</key>
		<integer>10</integer>
		<key>d</key>
		<integer>50</integer>
		<key>h</key>
		<integer>20</integer>
		<key>m</key>
		<integer>30</integer>
		<key>period</key>
		<integer>10</integer>
		<key>r</key>
		<integer>10</integer>
		<key>s</key>
		<integer>10</integer>
		<key>t</key>
		<integer>10</integer>
		<key>v</key>
		<integer>5</integer>
		<key>y</key>
		<integer>10</integer>
		<key>z</key>
		<integer>20</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>b</key>
		<integer>-27</integer>
		<key>c</key>
		<integer>-25</integer>
		<key>e</key>
		<integer>-25</integer>
		<key>f</key>
		<integer>-25</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>k</key>
		<integer>-10</integer>
		<key>m</key>
		<integer>-27</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>p</key>
		<integer>-27</integer>
		<key>quoteright</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-23</integer>
		<key>t</key>
		<integer>-25</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-19</integer>
		<key>z</key>
		<integer>-27</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>e</key>
		<integer>-30</integer>
		<key>i</key>
		<integer>10</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>10</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>a</key>
		<integer>-30</integer>
		<key>c</key>
		<integer>-30</integer>
		<key>e</key>
		<integer>-57</integer>
		<key>g</key>
		<integer>-49</integer>
		<key>h</key>
		<integer>-20</integer>
		<key>i</key>
		<integer>-20</integer>
		<key>l</key>
		<integer>-10</integer>
		<key>n</key>
		<integer>-27</integer>
		<key>o</key>
		<integer>-60</integer>
		<key>r</key>
		<integer>-59</integer>
		<key>s</key>
		<integer>-55</integer>
		<key>t</key>
		<integer>-6</integer>
		<key>u</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-25</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>e</key>
		<integer>-23</integer>
		<key>u</key>
		<integer>-20</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>a</key>
		<integer>-25</integer>
		<key>c</key>
		<integer>-25</integer>
		<key>e</key>
		<integer>-25</integer>
		<key>k</key>
		<integer>-20</integer>
		<key>l</key>
		<integer>-10</integer>
		<key>n</key>
		<integer>-27</integer>
		<key>o</key>
		<integer>-25</integer>
		<key>p</key>
		<integer>-10</integer>
		<key>r</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-10</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>a</key>
		<integer>-27</integer>
		<key>e</key>
		<integer>-25</integer>
		<key>h</key>
		<integer>-10</integer>
		<key>l</key>
		<integer>-27</integer>
		<key>t</key>
		<integer>-27</integer>
		<key>z</key>
		<integer>-29</integer>
	</dict>
</dict>
</plist>
