<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>org.robofab.glyphOrder</key>
	<array>
		<string>A</string>
		<string>AE</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>OE</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>Scaron</string>
		<string>T</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Z</string>
		<string>Zcaron</string>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>ae</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>dotlessi</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>f</string>
		<string>g</string>
		<string>germandbls</string>
		<string>h</string>
		<string>i</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>scaron</string>
		<string>t</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>zcaron</string>
		<string>A.alt</string>
		<string>A.alt2</string>
		<string>A.alt3</string>
		<string>C.alt</string>
		<string>I.alt</string>
		<string>J.alt</string>
		<string>K.alt</string>
		<string>M.alt</string>
		<string>N.alt</string>
		<string>O.alt</string>
		<string>Q.alt</string>
		<string>R.alt</string>
		<string>S.alt</string>
		<string>V.alt</string>
		<string>V.alt2</string>
		<string>V.alt3</string>
		<string>W.alt</string>
		<string>W.alt2</string>
		<string>W.alt3</string>
		<string>W.alt4</string>
		<string>X.alt</string>
		<string>Y.alt</string>
		<string>Z.alt</string>
		<string>a.alt</string>
		<string>k.alt</string>
		<string>v.alt</string>
		<string>w.alt</string>
		<string>x.alt</string>
		<string>z.alt</string>
		<string>a.sc</string>
		<string>b.sc</string>
		<string>c.sc</string>
		<string>d.sc</string>
		<string>e.sc</string>
		<string>f.sc</string>
		<string>g.sc</string>
		<string>h.sc</string>
		<string>i.sc</string>
		<string>j.sc</string>
		<string>k.sc</string>
		<string>l.sc</string>
		<string>m.sc</string>
		<string>n.sc</string>
		<string>o.sc</string>
		<string>p.sc</string>
		<string>q.sc</string>
		<string>r.sc</string>
		<string>s.sc</string>
		<string>t.sc</string>
		<string>u.sc</string>
		<string>v.sc</string>
		<string>w.sc</string>
		<string>x.sc</string>
		<string>y.sc</string>
		<string>z.sc</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>two.alt</string>
		<string>four.alt</string>
		<string>seven.alt</string>
		<string>nine.alt</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>question.alt</string>
		<string>space</string>
		<string>Euro</string>
		<string>cent</string>
		<string>dollar</string>
		<string>sterling</string>
		<string>asciitilde</string>
		<string>divide</string>
		<string>equal</string>
		<string>greater</string>
		<string>less</string>
		<string>minus</string>
		<string>multiply</string>
		<string>percent</string>
		<string>plus</string>
		<string>ampersand</string>
		<string>at</string>
		<string>bar</string>
		<string>degree</string>
		<string>paragraph</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>ring</string>
		<string>tilde</string>
		<string>CR</string>
		<string>uniE000</string>
		<string>.notdef</string>
		<string>.null</string>
	</array>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weight</key>
	<string>Bold</string>
	<key>com.schriftgestaltung.weightValue</key>
	<real>900</real>
	<key>com.schriftgestaltung.widthValue</key>
	<real>5</real>
</dict>
</plist>
