<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>W</key>
		<integer>-31</integer>
		<key>Y</key>
		<integer>-13</integer>
	</dict>
	<key>A.alt2</key>
	<dict>
		<key>V.alt2</key>
		<integer>-339</integer>
		<key>W.alt2</key>
		<integer>-345</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>V</key>
		<integer>-49</integer>
		<key>Y</key>
		<integer>-31</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>V</key>
		<integer>-29</integer>
		<key>Z</key>
		<integer>-27</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>M</key>
		<integer>-29</integer>
		<key>O</key>
		<integer>-31</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>J</key>
		<integer>-240</integer>
		<key>R</key>
		<integer>5</integer>
		<key>T</key>
		<integer>10</integer>
		<key>y</key>
		<integer>-20</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>W</key>
		<integer>-27</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>A</key>
		<integer>-30</integer>
		<key>H</key>
		<integer>-29</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>V</key>
		<integer>-231</integer>
		<key>W</key>
		<integer>-129</integer>
		<key>Y</key>
		<integer>-179</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>c</key>
		<integer>-10</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>V</key>
		<integer>-27</integer>
		<key>W</key>
		<integer>-27</integer>
		<key>X</key>
		<integer>-39</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>10</integer>
		<key>J</key>
		<integer>-187</integer>
		<key>d</key>
		<integer>10</integer>
		<key>v</key>
		<integer>1</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>V</key>
		<integer>-19</integer>
		<key>W</key>
		<integer>-19</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>N</key>
		<integer>-19</integer>
		<key>W</key>
		<integer>-25</integer>
		<key>Y</key>
		<integer>-10</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>o</key>
		<integer>-123</integer>
		<key>s</key>
		<integer>-121</integer>
		<key>u</key>
		<integer>-101</integer>
		<key>w</key>
		<integer>-83</integer>
		<key>y</key>
		<integer>-91</integer>
		<key>z</key>
		<integer>-103</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-37</integer>
		<key>O</key>
		<integer>-33</integer>
		<key>S</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>s</key>
		<integer>-40</integer>
	</dict>
	<key>V.alt</key>
	<dict>
		<key>A.alt</key>
		<integer>-361</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-27</integer>
		<key>O</key>
		<integer>-23</integer>
		<key>a</key>
		<integer>-15</integer>
		<key>e</key>
		<integer>-35</integer>
		<key>i</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-25</integer>
		<key>u</key>
		<integer>-20</integer>
	</dict>
	<key>W.alt</key>
	<dict>
		<key>A.alt</key>
		<integer>-341</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>B</key>
		<integer>-35</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>S</key>
		<integer>-35</integer>
		<key>a</key>
		<integer>-97</integer>
		<key>e</key>
		<integer>-119</integer>
		<key>i</key>
		<integer>-19</integer>
		<key>o</key>
		<integer>-119</integer>
		<key>p</key>
		<integer>-99</integer>
		<key>s</key>
		<integer>-117</integer>
		<key>u</key>
		<integer>-97</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>Y</key>
		<integer>-10</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>b</key>
		<integer>-25</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>l</key>
		<integer>-10</integer>
		<key>m</key>
		<integer>-20</integer>
		<key>n</key>
		<integer>-15</integer>
		<key>r</key>
		<integer>-5</integer>
		<key>s</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-30</integer>
		<key>x</key>
		<integer>-15</integer>
		<key>z</key>
		<integer>-25</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>d</key>
		<integer>30</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>e</key>
		<integer>-25</integer>
		<key>h</key>
		<integer>-15</integer>
		<key>k</key>
		<integer>-20</integer>
		<key>t</key>
		<integer>-25</integer>
		<key>u</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-20</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>e</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-22</integer>
		<key>u</key>
		<integer>-23</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>c</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-15</integer>
		<key>l</key>
		<integer>-20</integer>
		<key>r</key>
		<integer>-5</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-30</integer>
		<key>x</key>
		<integer>-17</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>comma</key>
		<integer>-181</integer>
		<key>t</key>
		<integer>5</integer>
		<key>u</key>
		<integer>10</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>a</key>
		<integer>-15</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>e</key>
		<integer>-15</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>r</key>
		<integer>-15</integer>
		<key>s</key>
		<integer>-21</integer>
		<key>u</key>
		<integer>-25</integer>
		<key>w</key>
		<integer>-20</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>a</key>
		<integer>5</integer>
		<key>f</key>
		<integer>10</integer>
		<key>i</key>
		<integer>5</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>a</key>
		<integer>-35</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>f</key>
		<integer>-47</integer>
		<key>n</key>
		<integer>-15</integer>
		<key>p</key>
		<integer>-25</integer>
		<key>q</key>
		<integer>-15</integer>
		<key>v</key>
		<integer>-5</integer>
		<key>x</key>
		<integer>-41</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>e</key>
		<integer>-20</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>e</key>
		<integer>-5</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>a</key>
		<integer>-10</integer>
		<key>d</key>
		<integer>5</integer>
		<key>e</key>
		<integer>-15</integer>
		<key>m</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>quoteright</key>
		<integer>-87</integer>
		<key>v</key>
		<integer>-59</integer>
		<key>w</key>
		<integer>-65</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>k</key>
		<integer>-13</integer>
		<key>m</key>
		<integer>-13</integer>
		<key>w</key>
		<integer>-25</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>b</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>p</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-25</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>a</key>
		<integer>-10</integer>
		<key>l</key>
		<integer>-20</integer>
		<key>n</key>
		<integer>-15</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>r</key>
		<integer>-10</integer>
		<key>s</key>
		<integer>-20</integer>
		<key>t</key>
		<integer>-23</integer>
		<key>u</key>
		<integer>-23</integer>
		<key>v</key>
		<integer>-13</integer>
		<key>w</key>
		<integer>-35</integer>
		<key>x</key>
		<integer>-35</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>d</key>
		<integer>25</integer>
		<key>i</key>
		<integer>15</integer>
		<key>s</key>
		<integer>10</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>u</key>
		<integer>-25</integer>
	</dict>
	<key>question</key>
	<dict>
		<key>v</key>
		<integer>-1</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>comma</key>
		<integer>-243</integer>
		<key>o</key>
		<integer>-5</integer>
		<key>period</key>
		<integer>-20</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>c</key>
		<integer>-19</integer>
		<key>e</key>
		<integer>-15</integer>
		<key>k</key>
		<integer>-15</integer>
		<key>n</key>
		<integer>-23</integer>
		<key>u</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-37</integer>
		<key>z</key>
		<integer>-23</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>b</key>
		<integer>5</integer>
		<key>d</key>
		<integer>20</integer>
		<key>h</key>
		<integer>5</integer>
		<key>i</key>
		<integer>5</integer>
		<key>z</key>
		<integer>5</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>b</key>
		<integer>-15</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>d</key>
		<integer>10</integer>
		<key>e</key>
		<integer>-15</integer>
		<key>f</key>
		<integer>-10</integer>
		<key>m</key>
		<integer>-20</integer>
		<key>n</key>
		<integer>5</integer>
		<key>p</key>
		<integer>-15</integer>
		<key>s</key>
		<integer>-15</integer>
		<key>t</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-15</integer>
		<key>z</key>
		<integer>-15</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>e</key>
		<integer>-30</integer>
		<key>o</key>
		<integer>-29</integer>
		<key>s</key>
		<integer>-25</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>e</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>r</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-15</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>e</key>
		<integer>-49</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>a</key>
		<integer>-23</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-20</integer>
		<key>l</key>
		<integer>10</integer>
		<key>n</key>
		<integer>-15</integer>
		<key>o</key>
		<integer>-23</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>a</key>
		<integer>-25</integer>
		<key>e</key>
		<integer>-25</integer>
		<key>l</key>
		<integer>-20</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
