.control-bank
	margin-right: 2px
	border: 1px solid $control-bank-border-color
	border-radius: 10px

.control-bank.two-row
	> .row:first-child
		padding-top: 43px
	> .row:last-of-type
		padding-bottom: 57px

.control-bank.tri-row.single-column
	&>.row:first-of-type>h5
		margin-top: 5px
	&>.row>h5
		margin-top: 20px
		margin-bottom: 0px
	.row:last-of-type
		margin-bottom: 15px
		>h5
			margin-top: 25px
	&>h4
		margin-top: 30px
	.knob-small #wac-knob
		margin-bottom: -10px
		margin-top: 10px