.control-bank
	margin-right: 2px
	border: 1px solid $control-bank-border-color
	border-radius: 10px

.control-bank.two-row
	> .row:first-child
		padding-top: 43px
	> .row:last-of-type
		padding-bottom: 57px

.control-bank.tri-row.single-column
	&>.row>h5
		margin-top: 10px
	.row:last-of-type
		margin-bottom: 15px