.control-bank
	margin-right: 2px
	border: 1px solid #8E8E8E
	border-radius: 10px

.control-bank.two-row
	> .row:first-child
		padding-top: 38px
	> .row:last-of-type
		padding-bottom: 52px

.control-bank.tri-row.single-column
	&>.row>h5
		margin-top: 5px
	.row:last-of-type
		margin-bottom: 15px