.envelopes .envelope
	margin-top: 10px

.envelopes .col-xs-3
	padding: 0

.envelopes h4
	margin-top: 5px
	margin-bottom: 5px

.envelopes .row:last-of-type
	margin-top: 36px
	border-top: 1px solid #8e8e8e
	margin-left: -11px
	margin-right: -11px