.oscillator-volume > .row
	padding-top: 25px

.oscillator-switch
	> .row:first-child webaudio-switch
		margin-top: 32px
	webaudio-switch
		margin-top: 41px

.noise
	.row:first-child
		margin-top: 65px
	.row:nth-child(2)
		margin-top: 35px