.oscillator-volume > .row
	padding-top 40px
	&:first-of-type
		padding-top 15px

.oscillator-switch > .row
	margin-top: 82px
	&:first-child
		margin-top: 26px

.mixer>.row:last-of-type
	margin-top 9px
	border-top 1px solid rgb(142,142,142)
	margin-left -11px
	margin-right -11px

.mixer h4
	margin-top 5px
	margin-bottom 5px