.modulation-polyphony

	.row
		margin-left: 0
		margin-right: 0

	h4
		margin-top: 0

	h5
		margin-top: 5px

	.modulation
		border-bottom: solid 1px $control-bank-border-color

		h5:first-of-type
			margin-bottom: 9px

		h5:last-of-type
			margin-bottom: 5px

	.polyphony
		margin-top: 8px

		h4
			margin-top: 2px