.modulation-polyphony

	.row
		margin-left: 0
		margin-right: 0

	h5
		margin-top: 5px

	.modulation
		border-bottom: solid 1px $control-bank-border-color

		&>.row:first-of-type>h5
			margin-bottom: 5px

		&>.row:last-of-type>h5
			margin-top: 25px
			margin-bottom: 0px
            
		.knob-small #wac-knob
			margin-bottom: -10px

	.polyphony
		margin-top: 0px

		h5
			margin-top: 0px
			margin-bottom: 0px
			line-height: inherit