<div id="patchesDropDown" class="text-center" ng-controller="DropDownCtrl as dropDown">
	<a data-target="#" class="arrow-button glyphicon glyphicon-chevron-left" ng-click="dropDown.selectPrevious()"></a>
	<div class="display-container top-row-item">
		<div class="display-container-inner dropdown" dropdown>
			<div class="dropdown-toggle" dropdown-toggle>
				{{dropDown.getSelectedName()}}
			</div>

			<ul class="dropdown-menu">
				<li ng-repeat="patch in dropDown.patches"
					ng-attr-role="{{patch.separator}}"
					ng-class="{'dropdown-header': patch.separator, 'regular-item': !patch.separator}"
					ng-click="dropDown.selectPatch(patch)">
						{{patch.name}}
				</li>
			</ul>
		</div>
	</div>
	<a data-target="#" class="arrow-button glyphicon glyphicon-chevron-right" ng-click="dropDown.selectNext()"></a>
</div>