#bottomRow
	.wheel
		margin-top: 51px

	.keyboard
		margin-top: 34px

	#masterControls
		.effects
			h4, h5, h6
				margin-top: 0px
				margin-bottom: 1px

		.master-column-bank
			margin-right: 2px

		.master-control-bank
			border-radius: 10px
			border: 1px solid #8E8E8E

		.master-volume
			h6
				margin-bottom: 32px

		.on-off-switch 
			position: absolute
			top: 0

		.effects
			margin-left: 2px
			width: 27%
			
			.compressor
				margin-bottom: 3px