@import "synth/*"
@import "patch-library/*"

body #dawContainer
	position: relative
	min-width: 1180px
	max-width: 1180px
	margin-top: 50px
	margin-left: auto
	margin-right: auto
	padding-bottom: 140px
	border: solid 1px black
	background-color: #323333
	color: #eee
	#bottomRow
		position: absolute
		bottom: 0
		width: 100%

.inline-block
	display: inline-block

.wheel
	margin-left: 15px