@import "synth/*"
@import "settings/*"
@import "patch-library/*"
@import "t-shirts/*"

body

	.daw-container-outer
		position: relative
		width: $panel-width
		height: $panel-height - 20px
		margin-top: -20px
		margin-left: auto
		margin-right: auto

		#dawContainer
			position: relative
			width: $panel-width
			height: $panel-height
			margin-top: 20px
			margin-left: auto
			margin-right: auto
			padding-bottom: 195px
			border-radius: 14px
			background-position: 50% 50%
			background-repeat: none
			background-image: url("../images/synth-base-panel.jpg")
			background-size: contain
			box-shadow: 0px 10px 28px rgba( 0, 0, 0, 0.8 )
			color: #eee
			transform: scale(0.9)

			#upperRow
				width: 95.5%

				>div
					padding: 0

				.top-row-item
					margin-top: 15px

			#bottomRow
				position: absolute
				bottom: 10px
				width: 100%