@import "synth/*"
@import "patch-library/*"

body #dawContainer
	position: relative
	min-width: 1200px
	max-width: 1200px
	min-height: 600px
	margin-top: 50px
	margin-left: auto
	margin-right: auto
	padding-bottom: 195px
	background-position: 50% 50%
	background-repeat: none
	background-image: url("/images/synth-base-panel.png")
	background-size: contain
	color: #eee
	#bottomRow
		position: absolute
		bottom: 0
		width: 100%