
@font-face
    font-family: 'orbitron_medium'
    src: url('../bower_components/orbitron/webfonts/orbitron-medium-webfont.eot')
    src: url('../bower_components/orbitron/webfonts/orbitron-medium-webfont.woff') format('woff'),
         url('../bower_components/orbitron/webfonts/orbitron-medium-webfont.ttf') format('truetype'),
         url('../bower_components/orbitron/webfonts/orbitron-medium-webfont.svg') format('svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'orbitron_light'
    src: url('../bower_components/orbitron/webfonts/orbitron-light-webfont.eot')
    src: url('../bower_components/orbitron/webfonts/orbitron-light-webfont.woff') format('woff'),
         url('../bower_components/orbitron/webfonts/orbitron-light-webfont.ttf') format('truetype'),
         url('../bower_components/orbitron/webfonts/orbitron-light-webfont.svg') format('svg')
    font-weight: normal
    font-style: normal