.modal-dialog
	.modal-content
		background-color: $panel-grey
		color: $panel-text-grey
		font-weight: 200
		h1, h2, h3, h4, h5, h6
			color: $panel-header-grey
		label
			font-weight: $font-weight
		input
			background-color: gray
			color: white
	.close
		color: white
		opacity: 0.6
		text-shadow: none
		&:focus
			outline: none
			opacity: 0.8
		&:active
			opacity: 0.3