<div id="synthContainer" class="container">
	<div class="row">
		<div class="col-lg-2">

		</div>
		<div id="oscilatorBank" class="col-lg-2 control-bank">
			<div id="firstOscillator" class="oscillator row">
				<h5 class="text-center">Oscilator 1</h5>
				<div class="col-lg-4">
					<webaudio-knob class="range-knob" src="/images/range-knob.png" value="0" max="5" step="1" diameter="110" sprites="30" width="40" height="40" tooltip="Oscillator 1 range"></webaudio-knob>
				</div>
				<div class="col-lg-4 col-lg-offset-4">
					<webaudio-knob class="waveform-knob" src="/images/range-knob.png" value="0" max="5" step="1" diameter="110" sprites="30" width="40" height="40" tooltip="Oscillator 1 waveform"></webaudio-knob>
				</div>
			</div>
			<div class="oscillator row">
				<h5 class="text-center">Oscilator 2</h5>
				<div class="col-lg-4">
					<webaudio-knob class="range-knob" src="/images/range-knob.png" value="0" max="5" step="1" diameter="110" sprites="30" width="40" height="40" tooltip="Oscillator 2 range"></webaudio-knob>
				</div>
				<div class="col-lg-4">
					<webaudio-knob class="frequency-knob" src="/images/frequency-knob.png" value="0" max="100" step="1" diameter="66" sprites="44" width="40" height="40" tooltip="Oscillator 2 frequency"></webaudio-knob>
				</div>
				<div class="col-lg-4">
					<webaudio-knob class="waveform-knob" src="/images/range-knob.png" value="0" max="5" step="1" diameter="110" sprites="30" width="40" height="40" tooltip="Oscillator 2 waveform"></webaudio-knob>
				</div>
			</div>
			<div class="oscillator row">
				<h5 class="text-center">Oscilator 3</h5>
				<div class="col-lg-4">
					<webaudio-knob class="range-knob" src="/images/lfo-knob.png" value="0" max="6" step="1" diameter="110" sprites="30" width="40" height="40" tooltip="Oscillator 3 range"></webaudio-knob>
				</div>
				<div class="col-lg-4">
					<webaudio-knob class="frequency-knob" src="/images/frequency-knob.png" value="0" max="100" step="1" diameter="66" sprites="44" width="40" height="40" tooltip="Oscillator 3 frequency"></webaudio-knob>
				</div>
				<div class="col-lg-4">
					<webaudio-knob class="waveform-knob" src="/images/range-knob.png" value="0" max="5" step="1" diameter="110" sprites="30" width="40" height="40" tooltip="Oscillator 3 waveform"></webaudio-knob>
				</div>
			</div>
			<h4 class="text-center">Oscillator Bank</h4>
		</div>
	</div>
</div>